.btn-secondary,
        .btn-secondary:hover,
        .btn-secondary:focus {
            color: #333;
            text-shadow: none;
        }


        .cover-container {
            max-width: 42em;
        }



        .nav-masthead .nav-link {
            color: rgba(255, 255, 255, .5);
            border-bottom: .25rem solid transparent;
        }

        .nav-masthead .nav-link:hover,
        .nav-masthead .nav-link:focus {
            border-bottom-color: rgba(255, 255, 255, .25);
        }

        .nav-masthead .nav-link+.nav-link {
            margin-left: 1rem;
        }

        .nav-masthead .active {
            color: rgb(0, 0, 0);
            border-bottom-color: #fff;
        }

        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        .img {
            height: 110px;
            width: 170px;
        }

        .logo {
            display: flex;
            justify-content: center;
        }
        body{
            box-sizing: border-box;
        }
        input{
            text-transform: uppercase;
            outline: 0;
            background: #390039;
            border: 0;
            padding: 10px;
            color: #FFFFFF;
            font-size: 14px;
            transition: all 0.3 ease;
            cursor: pointer;
        }
        input:hover{
           background: #49007e;
        }
        a{
            text-decoration: none;
            color: black;
            font-weight: bold;
        }
        a:hover{
            color: #49007e;
        }

        p{
            margin: 50px;
            text-align: center;
            font-weight: bold;
            font-size: 1.5rem;
        }